<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% apply inline_css(source('@email_css/welcome.css')) %}
    <h1>Bonjour,</h1>
    <p>Vous avez demandé une réinitialisation de votre mot de passe. Cliquez sur le bouton ci-dessous pour réinitialiser votre mot de passe.</p>
    <a href="{{ url('reset-password', {token: token}) }}">Réinitialiser le mot de passe</a>
    <p>Si vous n'avez pas demandé cette réinitialisation de mot de passe, veuillez ignorer cet email.</p>
    {% endapply %}
</body>
</html>