/* MESSAGE FLASH*/

.flash { 
	padding: 20px;
	text-align: center;
	color: white;

    &-success {
        background-color: var(--success);
    }

    &-error {
        background-color: var(--warning);
    }
}
