/*Question*/

.question {

	&-content {
		border-bottom: 1px solid var(--gray);
	}

	&-author {
		@include xs {
			h3 {
				margin-bottom: 1rem;
			}
		}

		.question-tag {
			margin-bottom: .5rem;
		}
	}


}


