/* HEADER */

header {
	box-shadow: var(--box-shadow);

    .header {
        &-search {
            border-radius: var(--border-radius);
            background-color: var(--gray-light);
            max-width: 400px;
            position: relative;

            &-loading {
                height: 30px;
            }

            &-result {
                width: 100%;
                position: absolute;
                top: calc(100% + 10px);
                left: 0;
                background-color: white;
                border-radius: var(--border-radius);
                box-shadow: var(--box-shadow);
                padding: 10px;

                a {
                    padding: 10px;
                }
            }

            @include xs {
                display: none;
            }
        
            input {
                border: none;
                outline: none;
                background-color: var(--gray-light);
                height: 30px;
            }
        }

        &-logo {
            max-width: 150px;
        
            img {
                max-width: 150px;
            }
        }
    }

    .burger {
        font-size: 24px;
        margin-right: 10px;
        cursor: pointer;
    }
}


.menu-xs {
    border-bottom: var(--border);
    box-shadow: var(--box-shadow);

    a {
        margin: 10px 15px;
    }
}